agent-os/standards/backend/samples/pacs.008.spi.1.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='https://www.bcb.gov.br/pi/pacs.008/1.14'
           xmlns='https://www.bcb.gov.br/pi/pacs.008/1.14'
           xmlns:env='https://www.bcb.gov.br/pi/pacs.008/1.14'
           elementFormDefault='qualified'>
    <xs:element name="Envelope" type="SPIEnvelopeMessage"/>
    <xs:complexType name="SPIEnvelopeMessage">
        <xs:sequence>
            <xs:element name="AppHdr" type="SPI.head.001.001.01"/>
            <xs:element name="Document" type="SPI.pacs.008.001.09"/>
        </xs:sequence>
    </xs:complexType>
    <!--inicio BAH-->
    <xs:complexType name="SPI.head.001.001.01">
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="MsgIdType"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISPBType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:pattern value="[0-9A-Z]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[M][0-9A-Z]{8}[a-zA-Z0-9]{23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>
    <!--fim BAH-->
    <!--inicio ISO-->
    <xs:complexType name="SPI.pacs.008.001.09">
        <xs:sequence>
            <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV09"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38CdtrAcct">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element name="Tp" type="CashAccountType2Choice"/>
            <xs:element minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38DbtrAcct">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element name="Tp" type="CashAccountType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLEV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element name="MmbId" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditTransferMandateData1">
        <xs:sequence>
            <xs:element name="Tp" type="MandateTypeInformation2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditTransferTransaction43">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification13"/>
            <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="AccptncDtTm" type="ISONormalisedDateTime"/>
            <xs:element name="ChrgBr" type="ChargeBearerType1Code"/>
            <xs:element name="MndtRltdInf" type="CreditTransferMandateData1"/>
            <xs:element minOccurs="0" name="InitgPty" type="IdOrganizationIdentification"/>
            <xs:element name="Dbtr" type="NmIdPrivateIdentification"/>
            <xs:element name="DbtrAcct" type="CashAccount38DbtrAcct"/>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Cdtr" type="IdPrivateIdentification"/>
            <xs:element name="CdtrAcct" type="CashAccount38CdtrAcct"/>
            <xs:element name="Purp" type="Purpose2Choice"/>
            <xs:element minOccurs="0" name="RmtInf" type="RemittanceInformation16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentAdjustment1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Rsn" type="RsnAmtCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EndToEndIdType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:pattern value="[E][0-9A-Z]{8}[0-9]{4}[0-1][0-9][0-3][0-9][0-2][0-9][0-5][0-9][a-zA-Z0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GSCB"/>
            <xs:enumeration value="IPAY"/>
            <xs:enumeration value="IPRT"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REFU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FIToFICustomerCreditTransferV09">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader93"/>
            <xs:element maxOccurs="unbounded" name="CdtTrfTxInf" type="CreditTransferTransaction43"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max20Numeric"/>
            <xs:element minOccurs="0" name="Issr" type="Max4Numeric"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PICpfCnpj"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader93">
        <xs:sequence>
            <xs:element name="MsgId" type="MsgIdType"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
            <xs:element name="NbOfTxs" type="Max15Numeric"/>
            <xs:element name="SttlmInf" type="SettlementInstruction7"/>
            <xs:element name="PmtTpInf" type="PaymentTypeInformation28"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdOrganizationIdentification">
        <xs:sequence>
            <xs:element name="Id" type="OrganizationIdentification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdPrivateIdentification">
        <xs:sequence>
            <xs:element name="Id" type="PrivateIdentification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalInstrument2Choice">
        <xs:choice>
            <xs:element name="Prtry" type="PrtryLclInstrmCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MandateTypeInformation2">
        <xs:sequence>
            <xs:element name="LclInstrm" type="LocalInstrument2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Numeric">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max77Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="77"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModalidadeAgenteCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGFSS"/>
            <xs:enumeration value="AGTEC"/>
            <xs:enumeration value="AGTOT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NmIdPrivateIdentification">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element name="Id" type="PrivateIdentification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganizationIdentification">
        <xs:sequence>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification13">
        <xs:sequence>
            <xs:element name="EndToEndId" type="EndToEndIdType"/>
            <xs:element minOccurs="0" name="TxId" type="TxIdType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28">
        <xs:sequence>
            <xs:element name="InstrPrty" type="Priority2Code"/>
            <xs:element name="SvcLvl" type="ServiceLevel8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PICnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PICpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{11}|[0-9A-Z]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PrivateIdentification">
        <xs:sequence>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max77Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PrtryLclInstrmCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APDN"/>
            <xs:enumeration value="APES"/>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="DICT"/>
            <xs:enumeration value="INIC"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="QRDN"/>
            <xs:enumeration value="QRES"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PrtrySvcLvlCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAGAGD"/>
            <xs:enumeration value="PAGFRD"/>
            <xs:enumeration value="PAGPRI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Purpose2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPurpose1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentInformation7">
        <xs:sequence>
            <xs:element name="Tp" type="ReferredDocumentType4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType3Choice">
        <xs:choice>
            <xs:element name="Prtry" type="ModalidadeAgenteCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType4">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="ReferredDocumentType3Choice"/>
            <xs:element name="Issr" type="ISPBType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation16">
        <xs:sequence>
            <xs:element minOccurs="0" name="Ustrd" type="Max140Text"/>
            <xs:element minOccurs="0" name="Strd" type="StructuredRemittanceInformation16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RfrdDocAmt">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="2" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueRsn">
            <xs:selector xpath="env:AdjstmntAmtAndRsn"/>
            <xs:field xpath="env:Rsn"/>
        </xs:unique>
    </xs:element>
    <xs:simpleType name="RsnAmtCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VLCP"/>
            <xs:enumeration value="VLDN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice">
        <xs:choice>
            <xs:element name="Prtry" type="PrtrySvcLvlCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementInstruction7">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StructuredRemittanceInformation16">
        <xs:sequence>
            <xs:element name="RfrdDocInf" type="ReferredDocumentInformation7"/>
            <xs:element ref="RfrdDocAmt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TxIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--fim ISO-->
</xs:schema>
